certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
darkdetect==0.8.0
decorator==5.1.1
future==1.0.0
geocoder==1.38.1
idna==3.10
PyQt6==6.7.1
PyQt6-Fluent-Widgets==1.7.0
PyQt6-Frameless-Window==0.4.3
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pywin32==308
ratelim==0.1.6
requests==2.32.3
six==1.16.0
urllib3==2.2.3
